.cart-raper{
    background-color: rgb(238, 228, 189);
    width: 100%;
    min-height:100vh;
    top:55px;
    padding:150px 200px;
    display:grid;
    grid-template-columns: repeat(1, 900px);
    posation: relative
}

.no-item{
    text-transform: uppercase;
    color:rgb(19, 23, 26);
}


/*evry cart*/

.card-contener{
    width: 100%;
    height:100px;
    overflow: hidden;
    background-color: #fff;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 1.2em;
    border-radius:5px;
}
.img-continer{
    width: 70px;
    
}
.img-continer img{
    width: 100%
}

.paragraph-continer{
    width:80%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    color:rgb(19, 23, 26);
}
.paragraph-continer h4{
    color: rgba(238, 14, 14, 0.945);
    width:18.5%;
}

.quantity-continer{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:18.5%;
    font-size:1.3em
}
.quantity-continer  .btn{
    cursor:pointer;
    font-size:2.5em;
    color:rgb(19, 23, 26);
    
}
.paragraph-continer h3{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    width:45%;
}

/* clear btn */
.clear-cont{
    display:flex;
    justify-content:center;
    align-items: center;
    width:18.5%;
}
.clear-btn{
    background: none;
    border:none;
    font-size: 1.5em;
    cursor: pointer;
    color:rgb(19, 23, 26);
    transition: 0.5s ease;
}
.clear-btn:hover{
    font-size: 1.6em;
}
button > * {
    pointer-events: none;
  }
/*total*/

.cart-total{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:40%;
    margin-left:60%;
    border-bottom: 1px solid black;
    padding-bottom:0.7em
}
.cart-total h2{
    color:rgb(19, 23, 26);
    text-transform: uppercase;
}
.cart-total h3{
    color:rgba(238, 14, 14, 0.945);
    text-transform: uppercase;
    font-weight:500;
    padding-left: 5px;
}

/*add and subtract btn*/
.cart-btn{
background:none;
border:none

}


/* midya*/
@media screen and (max-width:1280px){
    .cart-raper{
        grid-template-columns: repeat(1, 680px);
        font-size:27px;
        justify-content:center
    }
    .cart-total{
        width:80%;
        margin-left:20%;
        padding-right: 10px;
    }
}
@media screen and (max-width:850px){
    .cart-raper{
        grid-template-columns: repeat(1, 750px);
        font-size:27px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .cart-total{
        width:80%;
        margin-left:20%;
        padding-right: 10px;
    }
    .cart-total h3{
        font-size:35px

    }
}
@media screen and (max-width:600px){
    .cart-raper{
        grid-template-columns: repeat(1, 520px);
        font-size:15px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .cart-total{
        width:80%;
        margin-left:20%;
        padding-right: 10px;
    }
    .cart-total h3{
        font-size:25px

    }
    .paragraph-continer h4{
        width:26%;
    }
    
    .quantity-continer{
        width:26%;
    }
    .paragraph-continer h3{
        width:30%;
    }
}
@media screen and (max-width:550px){
    .cart-raper{
        grid-template-columns: repeat(1, 330px);
        font-size:15px;
        padding-right: 10px;
        padding-left: 10px;

    }
    .card-contener{
        flex-direction: column;
        margin-bottom: 1.2em;
        border-radius:5px;
        height:300px;
    }
    .paragraph-continer{
        flex-direction: column;
    }
}
