.all-carts{
    background-color: rgb(238, 228, 189);
    width: 100%;
    padding:100px 200px;
    display:grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 1rem;
    row-gap: 3rem;
    margin-top:55px;
}


/*singel cart*/

.cart{
    height:400px;
    margin:0px 20px;
    background-color:#fff;
    overflow: hidden;
    position:relative;
    border-radius: 5px;
}

.img-continert{
    width:100%;
    height:100%;
    overflow: hidden;
    padding:20px;
    position:relative
}
.img-continert img{
    width:100%;
    

}
.text-continer{
    width:100%;
    height:70px;
    background-color:rgb(248, 248, 248);
    position:absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content:space-around;
    align-items:center
}
.text-continer h2{
    font-size: 1em;
    color:rgb(19, 23, 26);
}
.text-continer h3{
    color: rgba(238, 14, 14, 0.945);
    font-size: 0.95em;
    font-weight:200;
}
/* add to cart btn*/
.add-tocart{
    position:absolute;
    bottom: 70px;
    transform: translateX(250px);
    width:50px;
    font-size: 20px;
    background-color: rgb(238, 228, 189);
    color:rgb(97, 52, 52);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.5s ease;
    overflow: hidden;
    cursor:pointer;
}
.img-continert:hover .add-tocart{
    transform: translateX(200px);
}
.btn{
    width:100%;
    padding:5px;
    background:none;
    border:none;
    color:rgb(97, 52, 52);
    font-size: 25px;
    cursor:pointer;
}
.cart-raper-singel{
    display: flex;
    justify-content:center;
    background-color: rgb(238, 228, 189);
    width: 100%;
    min-height:100vh;
    top:55px;
    padding:150px ;
}

/*singel product page*/

.page-contan{
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content:space-around;
    background-color: #fff;
    border-radius: 10px;
}
.img{
    width:40% ;
    padding:20px 10px;
}
.img img{
    width:100% ;
}
.text-contin{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
    width:55% ;
    height: 60%;
}
.text-contin h1{
    text-transform: uppercase;
}
.text-contin p{
    text-align: start;
}

/*add to cart*/

.addTocart-btn{
    background-color:rgb(233, 63, 71);
    cursor:pointer;
    padding:5px 10px;
    border-radius:5px;
    transition:0.5s;
    color:#fff;
}
.addTocart-btn:hover{
    transform: scale(1.1)
}

/*price and rate continer*/
.pric-rat{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(233, 63, 71);
}

/* midya*/
@media screen and (max-width:1280px){
    .all-carts{
        grid-template-columns: repeat(3, 300px);
        padding: 100px 0px;
        justify-content: center;
    }
    .cart-raper-singel{
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}
@media screen and (max-width:850px){
    .all-carts{
        grid-template-columns: repeat(2, 300px);
        padding: 100px 0px;
        justify-content: center;
    }
}


@media screen and (max-width:600px){
    .all-carts{
        grid-template-columns: repeat(2, 250px);
        padding: 100px 0px;
        justify-content: center;
        
    }
}
@media screen and (max-width:470px){
    .all-carts{
        grid-template-columns: repeat(1, 300px);
        padding: 100px 0px;
        justify-content: center;
        
    }
}