.all-carts{
    background-color: rgb(238, 228, 189);
    width: 100%;
    padding:100px 200px;
    display:grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 1rem;
    row-gap: 3rem;
    margin-top:55px;
}


/*singel cart*/

.cart{
    height:400px;
    margin:0px 20px;
    background-color:#fff;
    overflow: hidden;
    position:relative;
    border-radius: 5px;
}

.img-continert{
    width:100%;
    height:100%;
    overflow: hidden;
    padding:20px;
    position:relative
}
.img-continert img{
    width:100%;
    

}
.text-continer{
    width:100%;
    height:70px;
    background-color:rgb(248, 248, 248);
    position:absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content:space-around;
    align-items:center
}
.text-continer h2{
    font-size: 1em;
    color:rgb(97, 52, 52);
}
.text-continer h3{
    color: rgb(248, 20, 20);
    font-size: 0.95em;
    font-weight:200;
}
/* add to cart btn*/
.add-tocart{
    position:absolute;
    bottom: 70px;
    transform: translateX(250px);
    width:50px;
    padding:5px;
    font-size: 20px;
    background-color: rgb(238, 228, 189);
    color:rgb(97, 52, 52);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 0.5s ease;
    overflow: hidden;
    cursor:pointer;
}
.img-continert:hover .add-tocart{
    transform: translateX(200px);
}