header{
    width: 100%;
    background-color:rgb(19, 23, 26);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 200px;
    color:#fff;
    position:fixed;
    z-index: 100;
}

header h2{
    font-family: 'Yuji Hentaigana Akari', cursive;
    cursor:pointer;
    text-transform: uppercase;
    color:#fff;
}

header nav a{
    padding-left: 1.5em;
    color:#fff;
    text-transform: uppercase;
}
header nav a:hover{
    color:rgba(241, 241, 241, 0.5)
}
.menu{
    padding-left:10px ;
    font-size: 2em;
    display: none;
}
.qunt{
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color:rgba(238, 14, 14, 0.945);;
    font-size:11px ;
    position:absolute;
    top:5px;
    right: 199px;
    font-weight: 400;
}
@media screen and (max-width:1280px){
    header{
        padding:10px 50px;
        font-size:1.5em
    }
}
@media screen and (max-width:850px){
    header{
        padding:10px 100px
    }
    header h2{
        font-size: 2em;
    }
    header nav a{
        display:none
    }
    .menu{
        cursor: pointer;
        font-size: 2.8em;
        display: block;
        transition: 0.5s ease;
    }
    .menu:hover{
        transform:rotate(90deg)
    }
}
@media screen and (max-width:550px){
    header{
        padding:10px 30px
    }
    header h2{
        font-size: 1.2em;
    }
    .menu{
        font-size: 1.8em;
    }
}
@media screen and (max-width:350px){
    header{
        padding:10px 20px
    }
    header h2{
        font-size: 0.75em;
    }
    .menu{
        font-size: 1.5em;
    }
}
